@page
@model Coordinare.Pages.Events.InfoModel
@{
}
<p><a asp-page="/Events/Update" asp-route-id="@Model.Event.Event_ID">Update</a></p>
<h1>@Model.Event.EventName</h1>
<p>@Model.Event.Eventinfo</p>
<form method="post">
    <input type="hidden" asp-for="@Model.EventID"/>
    @if (Model.UserBookings.Exists(x => x.User_ID == Model.CurrentUser.User_ID ) && Model.UserBookings.Exists(y=> y.Event_ID == Model.EventID))
    {
        
    }
    else
    {
        <input type="submit" value="Book event" class="btn btn-primary" />
    }

    
</form>