@page
@model Coordinare.Pages.AboutUs.AboutModel
@{
    ViewData["Title"] = "About us";
}
<h4>About us</h4>
<p>See the bigger picture</p>
<p>We aim with our program to help out conferences.</p>
<p>It is our hope that our program gives people an overview they can use to get the information they need and
    a place for them to manage their own conference experience.</p>