@page
@model Coordinare.Pages.AboutUs.AboutModel
@{
    ViewData["Title"] = "About us";
}
<h4>About us</h4>
<br/>
<div style="max-width: 60%">
    <h6>From the conference</h6>
    <p>
        Our conference is about...
        <br/>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    </p>
    <p>
        More text...
        <br/>
        "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
</div>

<br/>
<br/>

<div style="max-width: 60%">
    <h6>From the programmers</h6>
    <p>See the bigger picture</p>
    <p>We aim with our program to help out conferences.</p>
    <p>It is our hope that our program gives people an overview they can use to get the information they need
        <br />
        and a place for them to manage their own conference experience.</p>
</div>
<br />
<div class="text-muted">
    <p>Lorem Ipsum from https://www.lipsum.com/</p>
</div>