@page
@model Coordinare.Pages.Users.DeleteModel
@{
    ViewData["Title"] = "Delete user";
}
<h3>Delete User</h3>

<div class="alert alert-warning" role="alert">
    @Model.InfoText
</div>
<form method="post">
    <dl class="row">
        <div class="form-group">
            <label asp-for="@Model.User.User_ID" class="control-label">Hotel num.</label>
            <input asp-for="@Model.User.User_ID" readonly="readonly" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="User.Name" class="control-label"></label>
            <input asp-for="User.Name" readonly="readonly" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="User.Username" class="control-label"></label>
            <input asp-for="User.Username" readonly="readonly" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="User.Password" class="control-label"></label>
            <input asp-for="User.Password" readonly="readonly" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="User.Phone" class="control-label"></label>
            <input asp-for="User.Phone" readonly="readonly" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="User.Email" class="control-label"></label>
            <input asp-for="User.Email" readonly="readonly" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="User.Speaker" class="control-label"></label>
            @if (Model.User.Speaker)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        </div>
        <div class="form-group">
            <label asp-for="User.Specialaid" class="control-label"></label>
            @if (Model.User.Specialaid)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        </div>
        <div class="form-group">
            <label asp-for="User.Admin" class="control-label"></label>
            @if (Model.User.Admin)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        </div>
    </dl>

    <input type="submit" value="Delete" class="btn btn-danger" />&nbsp; | &nbsp;
    <a asp-page="./GetAllUsers">Back to the overview</a>
</form>