@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="padding-left:42%">
    <a asp-page="/Index"><img src="/Images/sikon-logo-ny-udgave-2021.png" style="max-height: 175px" alt="KonfLogo" /></a>
</div>

<div class="carousel slide"></div>
